# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# Environment
.env
.env.*
*.env

# OS
.DS_Store
Thumbs.db

# Virtual Environments
venv/
ENV/
.envrc

# Logs
*.log

# Test outputs
htmlcov/
.coverage
.tox/

# Database
*.sqlite3
*.db

# Misc
*.swp
*.swo
